<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;phone - byond</title>
</head>
<body>
<header>
    <a href="index.html">byond</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/phone.html#var">Var Details</a> - <a href="datum/component/phone.html#proc">Proc Details</a></header>
<main>
<h1>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/phone.html">phone</a>
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L5">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 5"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/phone.html#var/calling_phone">calling_phone</a></th><td>A phone we are calling or has called us</td></tr>
            <tr><th><a href="datum/component/phone.html#var/do_not_disturb">do_not_disturb</a></th><td>Whether or not the phone is receiving calls or not. Varies between on/off or forcibly on/off.</td></tr>
            <tr><th><a href="datum/component/phone.html#var/enabled">enabled</a></th><td>Whether the phone is able to be called or not</td></tr>
            <tr><th><a href="datum/component/phone.html#var/holder">holder</a></th><td>What actually holds our phone, defaults to parent but may be set differently</td></tr>
            <tr><th><a href="datum/component/phone.html#var/last_caller">last_caller</a></th><td>The Phone_ID of the last person to call this telephone.</td></tr>
            <tr><th><a href="datum/component/phone.html#var/networks_receive">networks_receive</a></th><td>Networks that this phone can take calls from</td></tr>
            <tr><th><a href="datum/component/phone.html#var/networks_transmit">networks_transmit</a></th><td>Networks that this phone can call</td></tr>
            <tr><th><a href="datum/component/phone.html#var/overlay_interactable">overlay_interactable</a></th><td>If the phone is activated by COMSIG_PHONE_BUTTON_USE or not. And if true Will only allow COMSIG_ATOM_BEFORE_HUMAN_ATTACK_HAND if recieving a call.</td></tr>
            <tr><th><a href="datum/component/phone.html#var/phone_category">phone_category</a></th><td>Our phone category which sorts us into tabs in the phone menu TGUI</td></tr>
            <tr><th><a href="datum/component/phone.html#var/phone_color">phone_color</a></th><td>Color of phone displayed in the phone menu</td></tr>
            <tr><th><a href="datum/component/phone.html#var/phone_handset">phone_handset</a></th><td>Our connected handset</td></tr>
            <tr><th><a href="datum/component/phone.html#var/phone_icon">phone_icon</a></th><td>Our phone icon that is displayed in the phone menu TGUI</td></tr>
            <tr><th><a href="datum/component/phone.html#var/phone_id">phone_id</a></th><td>The id of our phone which shows up when we talk. Recommended to make unique. Do not include &quot;(#:&quot;.</td></tr>
            <tr><th><a href="datum/component/phone.html#var/ringing_loop">ringing_loop</a></th><td>The looping ringing sound when the phone is called</td></tr>
            <tr><th><a href="datum/component/phone.html#var/timeout_duration">timeout_duration</a></th><td>The time it takes for our timer to end to cancel an attempted call and &quot;go to voicemail&quot;</td></tr>
            <tr><th><a href="datum/component/phone.html#var/timeout_timer_id">timeout_timer_id</a></th><td>The ID of our timer to cancel an attempted call and &quot;go to voicemail&quot;</td></tr><tr><td colspan="2"><h2>Procs</h2></td></tr>
            <tr><th><a href="datum/component/phone.html#proc/call_phone">call_phone</a></th><td>Starts calling another phone, sets up connection between the phones</td></tr>
            <tr><th><a href="datum/component/phone.html#proc/force_unique_ids">force_unique_ids</a></th><td>Handles ensuring unique phone_id for each phone, use Inititializing if the phone isn't in GLOB.phones yet.</td></tr>
            <tr><th><a href="datum/component/phone.html#proc/get_phones">get_phones</a></th><td>Gathers all phones that we can call from our phone, returns a list of those phones</td></tr>
            <tr><th><a href="datum/component/phone.html#proc/get_user">get_user</a></th><td>Returns a mob that is using the phone or null if unable to find a user</td></tr>
            <tr><th><a href="datum/component/phone.html#proc/getting_call">getting_call</a></th><td>What we do when our phone is receiving a call, called from incoming_call's call_phone()</td></tr>
            <tr><th><a href="datum/component/phone.html#proc/handle_hear">handle_hear</a></th><td>Handles any messages passed from handle_speak() and serves them to the user</td></tr>
            <tr><th><a href="datum/component/phone.html#proc/handle_initial_variables">handle_initial_variables</a></th><td>Handles all of our variables usually set in Initialize(), needs to be a proc so virtual phones don't get incorrect signals or a handset</td></tr>
            <tr><th><a href="datum/component/phone.html#proc/handle_reset_call_message">handle_reset_call_message</a></th><td>Handles any messaging we want when a call is reset</td></tr>
            <tr><th><a href="datum/component/phone.html#proc/handle_speak">handle_speak</a></th><td>Handles any messages that our handset 'hears' and passes to us. Passes the message to this phone and any connected phone via handle_hear()</td></tr>
            <tr><th><a href="datum/component/phone.html#proc/holder_dropped">holder_dropped</a></th><td>Handles disabling the phone when the holder is dropped</td></tr>
            <tr><th><a href="datum/component/phone.html#proc/holder_forcemoved">holder_forcemoved</a></th><td>Tells our phone_handset that the holder has been forcemoved so the tether can be updated if need be</td></tr>
            <tr><th><a href="datum/component/phone.html#proc/holder_picked_up">holder_picked_up</a></th><td>Handles setting a specific phone ID and enabling the phone when the holder is picked up</td></tr>
            <tr><th><a href="datum/component/phone.html#proc/item_used_on_phone">item_used_on_phone</a></th><td>Handles any attackbys on our holder so we can hang up the phone</td></tr>
            <tr><th><a href="datum/component/phone.html#proc/other_phone_picked_up_call">other_phone_picked_up_call</a></th><td>Handles what we want to do when a phone we are calling picks up</td></tr>
            <tr><th><a href="datum/component/phone.html#proc/override_delete">override_delete</a></th><td>Handles bringing our handset back in case something tries to delete it</td></tr>
            <tr><th><a href="datum/component/phone.html#proc/phone_available">phone_available</a></th><td>Whether or not our phone is available to be called from other phones, returns TRUE if callable, otherwise FALSE. Note: this does not account for network compatability</td></tr>
            <tr><th><a href="datum/component/phone.html#proc/phone_menu_usable">phone_menu_usable</a></th><td>Whether or not clicking on our phone will bring up the phone menu, returns TRUE if it will, otherwise FALSE</td></tr>
            <tr><th><a href="datum/component/phone.html#proc/picked_up_call">picked_up_call</a></th><td>Handles what we want to do when we pick up a phone</td></tr>
            <tr><th><a href="datum/component/phone.html#proc/post_call_phone">post_call_phone</a></th><td>What we do after our call is set up from call_phone()</td></tr>
            <tr><th><a href="datum/component/phone.html#proc/recall_handset">recall_handset</a></th><td>Recalls our handset back to holder and calls reset_call()</td></tr>
            <tr><th><a href="datum/component/phone.html#proc/reset_call">reset_call</a></th><td>Resets this phone's connection as well as anything we are connected to's connection, calls itself on any other connections</td></tr>
            <tr><th><a href="datum/component/phone.html#proc/toggle_dnd">toggle_dnd</a></th><td>Toggles do not disturb on or off, does not handle forced or unable do_not_disturb variables</td></tr>
            <tr><th><a href="datum/component/phone.html#proc/use_phone">use_phone</a></th><td>When we initially interact with the phone, whether opening the menu to call someone or picking up the phone being called</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/calling_phone"><aside class="declaration">var </aside>calling_phone
            <aside>&ndash; /<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/phone.html">phone</a></aside>
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L26">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 26"/></a></h3>
        <p>A phone we are calling or has called us</p><h3 id="var/do_not_disturb"><aside class="declaration">var </aside>do_not_disturb
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L29">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 29"/></a></h3>
        <p>Whether or not the phone is receiving calls or not. Varies between on/off or forcibly on/off.</p><h3 id="var/enabled"><aside class="declaration">var </aside>enabled
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L50">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 50"/></a></h3>
        <p>Whether the phone is able to be called or not</p><h3 id="var/holder"><aside class="declaration">var </aside>holder
            <aside>&ndash; /<a href="atom.html">atom</a></aside>
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L23">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 23"/></a></h3>
        <p>What actually holds our phone, defaults to parent but may be set differently</p><h3 id="var/last_caller"><aside class="declaration">var </aside>last_caller
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L32">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 32"/></a></h3>
        <p>The Phone_ID of the last person to call this telephone.</p><h3 id="var/networks_receive"><aside class="declaration">var </aside>networks_receive
            <aside>&ndash; /list</aside>
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L41">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 41"/></a></h3>
        <p>Networks that this phone can take calls from</p><h3 id="var/networks_transmit"><aside class="declaration">var </aside>networks_transmit
            <aside>&ndash; /list</aside>
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L44">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 44"/></a></h3>
        <p>Networks that this phone can call</p><h3 id="var/overlay_interactable"><aside class="declaration">var </aside>overlay_interactable
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L53">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 53"/></a></h3>
        <p>If the phone is activated by COMSIG_PHONE_BUTTON_USE or not. And if true Will only allow COMSIG_ATOM_BEFORE_HUMAN_ATTACK_HAND if recieving a call.</p><h3 id="var/phone_category"><aside class="declaration">var </aside>phone_category
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L8">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 8"/></a></h3>
        <p>Our phone category which sorts us into tabs in the phone menu TGUI</p><h3 id="var/phone_color"><aside class="declaration">var </aside>phone_color
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L11">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 11"/></a></h3>
        <p>Color of phone displayed in the phone menu</p><h3 id="var/phone_handset"><aside class="declaration">var </aside>phone_handset
            <aside>&ndash; /<a href="obj.html">obj</a>/<a href="obj/item.html">item</a>/handset</aside>
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L20">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 20"/></a></h3>
        <p>Our connected handset</p><h3 id="var/phone_icon"><aside class="declaration">var </aside>phone_icon
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L17">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 17"/></a></h3>
        <p>Our phone icon that is displayed in the phone menu TGUI</p><h3 id="var/phone_id"><aside class="declaration">var </aside>phone_id
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L14">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 14"/></a></h3>
        <p>The id of our phone which shows up when we talk. Recommended to make unique. Do not include &quot;(#:&quot;.</p><h3 id="var/ringing_loop"><aside class="declaration">var </aside>ringing_loop
            <aside>&ndash; /<a href="datum.html">datum</a>/<a href="datum/looping_sound.html">looping_sound</a>/phone_ringing</aside>
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L47">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 47"/></a></h3>
        <p>The looping ringing sound when the phone is called</p><h3 id="var/timeout_duration"><aside class="declaration">var </aside>timeout_duration
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L38">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 38"/></a></h3>
        <p>The time it takes for our timer to end to cancel an attempted call and &quot;go to voicemail&quot;</p><h3 id="var/timeout_timer_id"><aside class="declaration">var </aside>timeout_timer_id
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L35">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 35"/></a></h3>
        <p>The ID of our timer to cancel an attempted call and &quot;go to voicemail&quot;</p><h2 id="proc">Proc Details</h2><h3 id="proc/call_phone"><aside class="declaration">proc </aside>call_phone<aside>(/<a href="mob.html">mob</a>/user, calling_phone_id) 
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L281">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 281"/></a></aside>
        </h3>
        <p>Starts calling another phone, sets up connection between the phones</p><h3 id="proc/force_unique_ids"><aside class="declaration">proc </aside>force_unique_ids<aside>(id_to_unique, initializing) 
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L435">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 435"/></a></aside>
        </h3>
        <p>Handles ensuring unique phone_id for each phone, use Inititializing if the phone isn't in GLOB.phones yet.</p><h3 id="proc/get_phones"><aside class="declaration">proc </aside>get_phones<aside>() 
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L221">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 221"/></a></aside>
        </h3>
        <p>Gathers all phones that we can call from our phone, returns a list of those phones</p><h3 id="proc/get_user"><aside class="declaration">proc </aside>get_user<aside>() 
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L431">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 431"/></a></aside>
        </h3>
        <p>Returns a mob that is using the phone or null if unable to find a user</p><h3 id="proc/getting_call"><aside class="declaration">proc </aside>getting_call<aside>(/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/phone.html">phone</a>/incoming_call) 
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L303">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 303"/></a></aside>
        </h3>
        <p>What we do when our phone is receiving a call, called from incoming_call's call_phone()</p><h3 id="proc/handle_hear"><aside class="declaration">proc </aside>handle_hear<aside>(message, /<a href="datum.html">datum</a>/language/message_language, /<a href="mob.html">mob</a>/speaker, direct_talking) 
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L395">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 395"/></a></aside>
        </h3>
        <p>Handles any messages passed from handle_speak() and serves them to the user</p><h3 id="proc/handle_initial_variables"><aside class="declaration">proc </aside>handle_initial_variables<aside>(phone_category, phone_color, phone_id, phone_icon, do_not_disturb, /list/networks_receive, /list/networks_transmit, holder, overlay_interactable) 
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L85">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 85"/></a></aside>
        </h3>
        <p>Handles all of our variables usually set in Initialize(), needs to be a proc so virtual phones don't get incorrect signals or a handset</p><h3 id="proc/handle_reset_call_message"><aside class="declaration">proc </aside>handle_reset_call_message<aside>(timeout, recursed) 
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L342">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 342"/></a></aside>
        </h3>
        <p>Handles any messaging we want when a call is reset</p><h3 id="proc/handle_speak"><aside class="declaration">proc </aside>handle_speak<aside>(message, /<a href="datum.html">datum</a>/language/message_language, /<a href="mob.html">mob</a>/speaker, direct_talking) 
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L370">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 370"/></a></aside>
        </h3>
        <p>Handles any messages that our handset 'hears' and passes to us. Passes the message to this phone and any connected phone via handle_hear()</p><h3 id="proc/holder_dropped"><aside class="declaration">proc </aside>holder_dropped<aside>(/<a href="obj.html">obj</a>/<a href="obj/item.html">item</a>/dropped_hold, /<a href="mob.html">mob</a>/user) 
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L205">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 205"/></a></aside>
        </h3>
        <p>Handles disabling the phone when the holder is dropped</p><h3 id="proc/holder_forcemoved"><aside class="declaration">proc </aside>holder_forcemoved<aside>(/<a href="atom.html">atom</a>/<a href="atom/movable.html">movable</a>/moving_atom, /<a href="atom.html">atom</a>/destination) 
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L212">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 212"/></a></aside>
        </h3>
        <p>Tells our phone_handset that the holder has been forcemoved so the tether can be updated if need be</p><h3 id="proc/holder_picked_up"><aside class="declaration">proc </aside>holder_picked_up<aside>(/<a href="obj.html">obj</a>/<a href="obj/item.html">item</a>/picked_up_holder, /<a href="mob.html">mob</a>/user) 
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L184">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 184"/></a></aside>
        </h3>
        <p>Handles setting a specific phone ID and enabling the phone when the holder is picked up</p><h3 id="proc/item_used_on_phone"><aside class="declaration">proc </aside>item_used_on_phone<aside>(/<a href="atom.html">atom</a>/phone, /<a href="obj.html">obj</a>/<a href="obj/item.html">item</a>/attacking_item, /<a href="mob.html">mob</a>/user) 
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L125">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 125"/></a></aside>
        </h3>
        <p>Handles any attackbys on our holder so we can hang up the phone</p><h3 id="proc/other_phone_picked_up_call"><aside class="declaration">proc </aside>other_phone_picked_up_call<aside>() 
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L166">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 166"/></a></aside>
        </h3>
        <p>Handles what we want to do when a phone we are calling picks up</p><h3 id="proc/override_delete"><aside class="declaration">proc </aside>override_delete<aside>() 
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L119">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 119"/></a></aside>
        </h3>
        <p>Handles bringing our handset back in case something tries to delete it</p><h3 id="proc/phone_available"><aside class="declaration">proc </aside>phone_available<aside>() 
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L243">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 243"/></a></aside>
        </h3>
        <p>Whether or not our phone is available to be called from other phones, returns TRUE if callable, otherwise FALSE. Note: this does not account for network compatability</p><h3 id="proc/phone_menu_usable"><aside class="declaration">proc </aside>phone_menu_usable<aside>() 
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L265">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 265"/></a></aside>
        </h3>
        <p>Whether or not clicking on our phone will bring up the phone menu, returns TRUE if it will, otherwise FALSE</p><h3 id="proc/picked_up_call"><aside class="declaration">proc </aside>picked_up_call<aside>(/<a href="mob.html">mob</a>/<a href="mob/living.html">living</a>/<a href="mob/living/carbon.html">carbon</a>/<a href="mob/living/carbon/human.html">human</a>/user) 
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L157">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 157"/></a></aside>
        </h3>
        <p>Handles what we want to do when we pick up a phone</p><h3 id="proc/post_call_phone"><aside class="declaration">proc </aside>post_call_phone<aside>(/<a href="mob.html">mob</a>/user, calling_phone_id) 
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L312">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 312"/></a></aside>
        </h3>
        <p>What we do after our call is set up from call_phone()</p><h3 id="proc/recall_handset"><aside class="declaration">proc </aside>recall_handset<aside>() 
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L358">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 358"/></a></aside>
        </h3>
        <p>Recalls our handset back to holder and calls reset_call()</p><h3 id="proc/reset_call"><aside class="declaration">proc </aside>reset_call<aside>(timeout, recursed) 
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L321">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 321"/></a></aside>
        </h3>
        <p>Resets this phone's connection as well as anything we are connected to's connection, calls itself on any other connections</p><h3 id="proc/toggle_dnd"><aside class="declaration">proc </aside>toggle_dnd<aside>(/<a href="mob.html">mob</a>/user) 
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L418">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 418"/></a></aside>
        </h3>
        <p>Toggles do not disturb on or off, does not handle forced or unable do_not_disturb variables</p><h3 id="proc/use_phone"><aside class="declaration">proc </aside>use_phone<aside>(/<a href="atom.html">atom</a>/phone, /<a href="mob.html">mob</a>/<a href="mob/living.html">living</a>/<a href="mob/living/carbon.html">carbon</a>/<a href="mob/living/carbon/human.html">human</a>/user, click_parameters) 
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L133">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 133"/></a></aside>
        </h3>
        <p>When we initially interact with the phone, whether opening the menu to call someone or picking up the phone being called</p></main>
<footer>
    colonialmarines.dme
    <a href="https://github.com/cmss13-devs/cmss13-pve/tree/84539b193c06481295fdd3c5626e580f81b79146">84539b1</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
