@use 'sass:color';
@use 'sass:map';

$background: #131313;
$button: #1f1f1f;
$lightMode: #ffffff;
$lightBorder: #bbbbbb;
$lightHover: #eaeaea;
$scrollbar-color-multiplier: 1 !default;

////////////////////////////////////////////////
// Normal chat colors
$say: #a4bad6;
$comms: #b4b4b4;
$me: #5975da;
$ooc: #1c52f5;
$looc: #e362b4;
$mentor: #b5850d;
$asay: #74471b;

////////////////////////////////////////////////
// Subchannel chat colors
$highcom: #318779;
$command: #779cc2;
$engi: #a66300;
$hive: #855d85;
$medsci: #008160;
$security: #a52929;
$req: #ba8e41;
$alpha: #db2626;
$bravo: #c68610;
$charlie: #aa55aa;
$delta: #007fcf;
$echo: #3eb489;
$foxtrot: #ad6d48;
$jtac: #ad3b98;
$wy: #fe9b24;
$cct: #4dc5ce;
$intel: #027d02;
$pmc: #4dc5ce;
$clf: #8e83ca;
$cia: #e6754c;
$upp: #8f4a4b;
$colony: #993399;
$rmc: #e3580e;
$guard: #7ec837;
$us-army: #037741;
$usasf: #2a1bb6;
$uscg: #62a759;
$pfa: #4a4dc9;
$jsc: #8b3434;
$yautja: #1ecc44;
$provost: #9d0612;

$_channel_map: (
  'say': $say,
  'comms': $comms,
  'me': $me,
  'ooc': $ooc,
  'looc': $looc,
  'whisper': $say,
  'mentor': $mentor,
  'asay': $asay,
  'department': $comms,
  'highcom': $highcom,
  'command': $command,
  'engi': $engi,
  'hive': $hive,
  'medsci': $medsci,
  'security': $security,
  'req': $req,
  'alpha': $alpha,
  'bravo': $bravo,
  'charlie': $charlie,
  'delta': $delta,
  'echo': $echo,
  'foxtrot': $foxtrot,
  'jtac': $jtac,
  'wy': $wy,
  'cct': $cct,
  'intel': $intel,
  'sof': $highcom,
  'ship': $comms,
  'colony': $colony,
  'guard': $guard,
  'upp-med': $upp,
  'upp-engi': $upp,
  'upp-cmd': $upp,
  'upp-kdo': $upp,
  'upp-cct': $upp,
  'upp': $upp,
  'clf-med': $clf,
  'clf-engi': $clf,
  'cia': $cia,
  'clf': $clf,
  'pmc-med': $pmc,
  'pmc-engi': $pmc,
  'pmc-cct': $pmc,
  'pmc-cmd': $pmc,
  'specops': $pmc,
  'pmc': $pmc,
  'yautja': $yautja,
  'provost': $provost,
  'us-army': $us-army,
  'usasf': $usasf,
  'uscg': $uscg,
  'rmc': $rmc,
  'pfa': $pfa,
  'jsc': $jsc,
  'mercs': $security,
);

$channel_keys: map.keys($_channel_map) !default;

$channel-map: ();

@each $channel in $channel_keys {
  $channel-map: map-merge(
    $channel-map,
    (
      $channel: map.get($_channel_map, $channel),
    )
  );
}
