<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;phone&#x2F;virtual - byond</title>
</head>
<body>
<header>
    <a href="index.html">byond</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/phone/virtual.html#var">Var Details</a> - <a href="datum/component/phone/virtual.html#proc">Proc Details</a></header>
<main>
<h1>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/phone.html">phone</a>/<a href="datum/component/phone/virtual.html">virtual</a>
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L508">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 508"/></a></h1>

<p>Virtual phone used for situations where you want to be able to use a phone without a handset</p><table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/phone/virtual.html#var/virtual_user">virtual_user</a></th><td>If it is a virtual phone we need a virtual user</td></tr><tr><td colspan="2"><h2>Procs</h2></td></tr>
            <tr><th><a href="datum/component/phone/virtual.html#proc/handle_virtual_speak">handle_virtual_speak</a></th><td>Used to fake the other side of our phone connection as a virtual user</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/virtual_user"><aside class="declaration">var </aside>virtual_user
            <aside>&ndash; /<a href="client.html">client</a></aside>
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L512">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 512"/></a></h3>
        <p>If it is a virtual phone we need a virtual user</p><h2 id="proc">Proc Details</h2><h3 id="proc/handle_virtual_speak"><aside class="declaration">proc </aside>handle_virtual_speak<aside>(/<a href="mob.html">mob</a>/speaker, message) 
        
    
            <a href="https://github.com/cmss13-devs/cmss13-pve/blob/84539b193c06481295fdd3c5626e580f81b79146/code/datums/components/phone.dm#L618">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;phone.dm 618"/></a></aside>
        </h3>
        <p>Used to fake the other side of our phone connection as a virtual user</p></main>
<footer>
    colonialmarines.dme
    <a href="https://github.com/cmss13-devs/cmss13-pve/tree/84539b193c06481295fdd3c5626e580f81b79146">84539b1</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
